<h1><p id="notice"><%= notice %></p></h1>

<h2><%= link_to 'New Reference', controller: "references", action: "new" %></h2><br>

<p>
	<strong>URL:</strong>
	<a href="<%= @reference.url %>" target="_blank"><%= @reference.url %></a>
</p>

<p>
	<strong>Topic:</strong>
	<%= @reference.topic %>
</p>

<p>
	<strong>Annotation:</strong>
	<%= @reference.annotation %>
</p>

<p>
	<strong>Time/Date:</strong>
	<%= @reference.created_at %>
</p>

<%= link_to'Show All References', references_path %> | 
<%= link_to'Delete', @reference, method: :delete, data: { confirm: "Are you sure you want to delete this reference?" } %>
