<p id="notice"><%= notice %></p>

<p>
	<strong>URL:</strong>
	<%= @reference.url %>
</p>

<p>
	<strong>Topic:</strong>
	<%= @reference.topic %>
</p>

<p>
	<strong>Annotation:</strong>
	<%= @reference.annotation %>
</p>

<p>
	<strong>Time/Date:</strong>
	<%= @reference.timedate %>
</p>

<%= link_to'Show All References', references_path %>
