<%= link_to "Play Again", root_path %>

<h1><%= "Your Guesses" %></h1>
<br>

<%= "Query Text: #{@query_text}"%>

<br>

<% @query_text.each do |line| %>
    <%= "Step " + (@query_text.index(line) + 1).to_s + " -- " %>
    <%= line %>
    <br>
<% end %>

<h1><%= "#{@result}" %></h1>
<br>

<%= link_to "Play Again", root_path %>
