<%= form_for([@pet, @game]) do |f| %>

<div class="field">
    <%= 'Account Nickname' %><br />
    <%= f.text_field :g_name %>
</div>

<%# COMMENT BLOCK %><% if false %>
<div class="field">
    <%= f.label :g_des %><br />
    <%= f.text_field :g_des %>
</div>

<div class="field">
    <%= f.label :money %><br />
    <%= f.text_field :money %>
</div>

<div class="field">
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
</div>
<% end %><%# END COMMENT BLOCK %>

<div class="actions">
    <%= f.submit "Open Account"%>
</div>

<% end %>
