<p id="notice"><%= notice %></p>

<p>
  <strong>G name:</strong>
  <%= @game.g_name %>
</p>

<p>
  <strong>G des:</strong>
  <%= @game.g_des %>
</p>

<p>
  <strong>Money:</strong>
  <%= @game.money %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @game.pet %>
</p>

<%= link_to 'Edit', edit_pet_game_path(@game.pet.id, @game) %> |
<%= link_to 'Back', pet_games_path %>
