<p id="notice"><%= notice %></p>

<h1>Listing Pets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Sex</th>
      <th>Health</th>
      <th>Clean</th>
      <th>Mood</th>
      <th>Status</th>
      <th>Asleep</th>
      <th>Strength</th>
      <th>Defense</th>
      <th>Age</th>
      <th>Highscore</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.sex %></td>
        <td><%= pet.health %></td>
        <td><%= pet.clean %></td>
        <td><%= pet.mood %></td>
        <td><%= pet.status %></td>
        <td><%= pet.asleep %></td>
        <td><%= pet.strength %></td>
        <td><%= pet.defense %></td>
        <td><%= pet.age %></td>
        <td><%= pet.highscore %></td>
        <td><%= link_to 'Show', pet %></td>
        <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pet', new_pet_path %>
