<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @pet.sex %>
</p>

<p>
  <strong>Health:</strong>
  <%= @pet.health %>
</p>

<p>
  <strong>Clean:</strong>
  <%= @pet.clean %>
</p>

<p>
  <strong>Mood:</strong>
  <%= @pet.mood %>
</p>

<p>
  <strong>Status:</strong>
  <%= @pet.status %>
</p>

<p>
  <strong>Asleep:</strong>
  <%= @pet.asleep %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @pet.strength %>
</p>

<p>
  <strong>Defense:</strong>
  <%= @pet.defense %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pet.age %>
</p>

<p>
  <strong>Highscore:</strong>
  <%= @pet.highscore %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
