<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Sex:</strong>
  <% if @pet.sex == true %>
    <%= 'Male' %>
  <% else %>
    <%= 'Female' %>
  <% end %>
</p>

<p>
  <strong>Health:</strong>
  <% if current_user.name == "admin" %>
    <%= @pet.health %><%= ' - ' %>
  <% end %>

  <% if @pet.health == 100 %>
    <%= 'Healthy' %>
  <% elsif @pet.health < 100 && @pet.health >= 70 %>
    <%= 'Great' %>
  <% elsif @pet.health < 70 && @pet.health >= 60 %>
    <%= 'Fine' %>
  <% elsif @pet.health < 60 && @pet.health >= 40 %>
    <%= 'Lethargic' %>
  <% elsif @pet.health < 40 && @pet.health >= 20 %>
    <%= 'Unhealthy' %>
  <% else %>
    <%= 'Dying' %>
  <% end %>
</p>

<p>
  <strong>Clean:</strong>
  <% if current_user.name == "admin" %>
    <%= @pet.clean %><%= ' - ' %>
  <% end %>

  <% if @pet.clean == 100 %>
    <%= 'Pristine' %>
  <% elsif @pet.clean < 100 && @pet.clean >= 70 %>
    <%= 'Clean' %>
  <% elsif @pet.clean < 70 && @pet.clean >= 60 %>
    <%= 'Normal' %>
  <% elsif @pet.clean < 60 && @pet.clean >= 40 %>
    <%= 'Dirty' %>
  <% elsif @pet.clean < 40 && @pet.clean >= 20 %>
    <%= 'Filthy' %>
  <% else %>
    <%= 'Disgusting' %>
  <% end %>

  <br>
  <%= link_to 'Clean Pet', pet_path(@pet, :pet => { :clean => 100}), method: :put %>
</p>

<p>
  <strong>Hunger:</strong>
  <% if current_user.name == "admin" %>
    <%= @pet.mood %><%= ' - ' %>
  <% end %>

  <% if @pet.mood == 100 %>
    <%= 'Full' %>
  <% elsif @pet.mood < 100 && @pet.mood >= 70 %>
    <%= 'Well Fed' %>
  <% elsif @pet.mood < 70 && @pet.mood >= 60 %>
    <%= 'Fed' %>
  <% elsif @pet.mood < 60 && @pet.mood >= 40 %>
    <%= 'Hungry' %>
  <% elsif @pet.mood < 40 && @pet.mood >= 20 %>
    <%= 'Famished' %>
  <% else %>
    <%= 'Dying' %>
  <% end %>
</p>

<% if current_user.name == @pet.user.name || current_user.name == "admin" %>
<p>
    <strong>Feed Your Pet:</strong>
    <br>
    <%= 'Soda ~ $2' %>
        <% if @pet.money >= 2 %>
            <% if @pet.mood > 98 %>
                <%= link_to 'Purchase', pet_path(@pet, :pet => { :mood => 100, :money => (@pet.money - 2), :status => true}), method: :put %>
            <% else %>
                <%= link_to 'Purchase', pet_path(@pet, :pet => { :mood => (@pet.mood + 2), :money => (@pet.money - 2)}), method: :put %>
            <% end %>
        <% else %>
            <%= ' - You are broke. Play some games to get more money.' %>
        <% end %>
    <br>

    <%= 'Bread ~ $5' %>
        <% if @pet.money >= 5 %>
            <% if @pet.mood > 95 %>
                <%= link_to 'Purchase', pet_path(@pet, :pet => { :mood => 100, :money => (@pet.money - 5), :status => true}), method: :put %>
            <% else %>
                <%= link_to 'Purchase', pet_path(@pet, :pet => { :mood => (@pet.mood + 5), :money => (@pet.money - 5)}), method: :put %>
            <% end %>
        <% else %>
            <%= ' - You cannot afford this.' %>
        <% end %>
    <br>

    <%= 'Steak Dinner ~ $10' %>
        <% if @pet.money >= 10 %>
            <% if @pet.mood > 90 %>
                <%= link_to 'Purchase', pet_path(@pet, :pet => { :mood => 100, :money => (@pet.money - 10), :status => true}), method: :put %>
            <% else %>
                <%= link_to 'Purchase', pet_path(@pet, :pet => { :mood => (@pet.mood + 10), :money => (@pet.money - 10)}), method: :put %>
            <% end %>
        <% else %>
            <%= ' - This cut is too expensive.' %>
        <% end %>
</p>
<% end %>

<p>
  <strong>Sick:</strong>
  <% if @pet.status == true %>
    <%= 'Yes - You overfed your pet! ' %>

    <% if @pet.money < 25 %>
        <%= 'Medicine costs $25' %>
    <% else %>
        <% if current_user.name == @pet.user.name || current_user.name == "admin" %>
            <%= link_to 'Buy Medicine for $25?', pet_path(@pet, :pet => { :money => (@pet.money - 25), :status => false}), method: :put %>
        <% end %>
    <% end %>
  <% else %>
    <%= 'No' %>
  <% end %>
</p>

<p>
  <strong>Sleeping:</strong>
  <% if @pet.asleep == true %>
    <%= 'Yes' %>
  <% else %>
    <%= 'No' %>
  <% end %>
</p>

<p>
  <strong>Age:</strong>
  <%= ((Time.now - @pet.age)/1.day).ceil %>
  <% if ((Time.now - @pet.age)/1.day).ceil == 1 %>
    <%= ' Day Old' %>
  <% else %>
    <%= ' Days Old' %>
  <% end %>
</p>

<p>
  <strong>Money:</strong>
  <% if @pet.money == 0 %>
    <%= link_to 'Look! A dollar!', pet_path(@pet, :pet => { :money => 1}), method: :put %>
  <% else %>
    <%= '$' + @pet.money.to_s %>
  <% end %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @pet.user.name %>
</p>

<p>
    <strong>Play A Game:</strong>

    <%= link_to 'Play', pet_games_path(@pet.id, @pet.games) %>
</p>

<%# COMMENT BLOCK %><% if false %>
<p>
  <strong>User:</strong>
  <%= @pet.user_id %>
</p>

<p>
  <strong>Highscore:</strong>
  <%= @pet.highscore %>
</p>

<p>
  <strong>User:</strong>
  <%= @pet.user %>
</p>
<% end %><%# END COMMENT BLOCK %>

<% if current_user.name == @pet.user.name || current_user.name == "admin" %>
    <%= link_to 'Edit', edit_pet_path(@pet) %> |
<% end %>

<%= link_to 'Back', pets_path %>

<br><br>

<% if current_user.name == "admin" %>
    <h1><%= 'CHEATS!' %></h1>
    <p><strong><%= link_to 'Health = 0', pet_path(@pet, :pet => { :health => 0}), method: :put %></strong></p>
    <p><strong><%= link_to 'Health = 50', pet_path(@pet, :pet => { :health => 50}), method: :put %></strong></p>
    <p><strong><%= link_to 'Health = 100', pet_path(@pet, :pet => { :health => 100}), method: :put %></strong></p>
    <p><strong><%= link_to 'Clean = 0', pet_path(@pet, :pet => { :clean => 0}), method: :put %></strong></p>
    <p><strong><%= link_to 'Hunger = 0', pet_path(@pet, :pet => { :mood => 0}), method: :put %></strong></p>
    <p><strong><%= link_to 'Hunger = 100', pet_path(@pet, :pet => { :mood => 100}), method: :put %></strong></p>
    <p><strong><%= link_to 'Money = 0', pet_path(@pet, :pet => { :money => 0}), method: :put %></strong></p>
    <p><strong><%= link_to 'Money = 9001', pet_path(@pet, :pet => { :money => 9001}), method: :put %></strong></p>
    <p><strong><%= link_to 'Sick', pet_path(@pet, :pet => { :status => true}), method: :put %></strong></p>
    <p><strong><%= link_to 'Not Sick', pet_path(@pet, :pet => { :status => false}), method: :put %></strong></p>
<% end %>   
    
