<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :filename %><br>
    <%= f.text_field :filename %><br>
    <%= f.file_field :uploaded_file %>
  </div>

  <div class="field">
    <% form_for @image, :tags => { :action => "update" } do |form| %>
        <%= form.text_field :tags %>
    <% end %>
  </div>

  <div class="field">
    <%= 'Private?'  %><br>
    <%= f.check_box :status %>
    </div>

  <%#div class"field"%>
    <%# 'If private image, select who can view:' %>
    <%# f.collection_select :user_id, User.all.order(:name), :name, :name %>
  <%#/div%>

  <div class="field">
    <br>
    <%= f.label :user_id %><%= ':' %>
    <%= current_user.name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
