<p id="notice"><%= notice %></p>

<h1>Assignment 5: Social Image Network</h1>
<br />
<% if user_signed_in? %>
    <h2><%= 'Welcome ' + current_user.name + '!' %></h2><br>
    <%= 'Not ' + current_user.name + '? ' %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %><br>
    <%= link_to 'Profile', edit_user_registration_path %><br>
<% else %>
    <h2><%= 'You must be logged in to edit contents: ' %>
    <%= link_to 'Log In', new_user_session_path %></h2><br>
    <%= 'Don\'t have an account? Sign up! It\'s free!' %><br>
    <%= link_to 'Sign Up', new_user_registration_path %><br>
<% end %>
<br>

<% if user_signed_in? %>
    <form action="./images/new">
        <input type="submit" value="Upload New Image">
        <%# link_to 'New Image', new_image_path %>
    </form>
<% end %>

<br>
<h1><u><%= 'My Images' %></u></h1>
<br>
<% if !user_signed_in? %>
    <h2><%= 'You must be logged in to view your images: ' %><%= link_to 'Log In', new_user_session_path %></h2>
<% end %>

<table>
  <thead>
    <% @images.each do |image| %>
        <% if image.user == current_user %>
            <tr>
                <%= link_to (image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename), image %>
            </tr>
        <% end %>
    <% end %>
    <th colspan="2"></th>
  </thead>
</table>

<br>
<h1><u><%= 'Public Images' %></u></h1>
<br>

<table>
    <thead>
        <% @images.each do |image| %>
            <% if image.status == false %>
                <% if image.user != current_user %>
                    <tr>
                        <%= link_to (image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename), image %>
                        <%= image.user.name %>
                    </tr>
                <% end %>
            <% end %>
        <% end %>
        <th colspan="2"></th>
    </thead>
</table>

<br>
<h1><u><%= 'Private Images I have Access To %></u></h1>
<br>
