<p id="notice"><%= notice %></p>


<p>
    <%= image_tag root_url + "/images/" + @image.filename, size: "300x300", alt: @image.filename %>
</p>


<p>
  <h2><u>User:</u></h2>
  <h3><%= @image.user.name %></h3>
</p>


<p>
  <h2><u>Status:</u></h2>
  <% if @image.status == true %>
    <h3><%= 'Private' %></h3>
  <% else %>
    <h3><%= 'Public' %></h3>
  <% end %>
</p>


<p>
  <h2><u>Tags:</u></h2><br>
  <% @image.tags.each do |tag| %>
    <% if !tag.new_record? %>
        <%= tag.str %>
        <% if @image.user == current_user %>
            <%= link_to 'Edit', edit_tag_path(tag.image_id) %>
            <%= link_to 'Delete', tag_path(tag), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        <br>
    <% end %>
  <% end %>
  <br>
  <h2><u>Create New Tag:</u></h2>
  <%= render 'tags/form' %>
</p>


<p>
    <h2><u>Users With Access:</u></h2><br>
    <% if @image.status == true %>
        <% @image.image_users.each do |list| %>
          <% if !list.new_record? %>
            <%= list.user.name %>
                <% if @image.user == current_user %> 
                    <%= link_to 'Remove', list, method: :delete, data: { confirm: 'Are you sure?' } %><br>
                <% end %>
              <% end %>
        <% end %>
    <% else %>
        <%= 'Everyone' %>
    <% end %>

    <% if @image.user == current_user %>
      <%= render 'image_users/form' %>
    <% end %>
</p>


<% if @image.user == current_user %>
  <%= form_for @image, :status => { :action => "update" } do |form| %>
      <h2><u><%= 'Should this be a private image?' %></u></h2>
      <cbox><%= form.check_box :status %></cbox><br>
      <%= form.submit %><br>
  <% end %>
<% end %>


<br>
<% if @image.user == current_user %>
    <%# link_to 'Edit', edit_image_path(@image) %> 
    <%= link_to 'Delete', @image, method: :delete, data: { confirm: 'Delete Image?' } %> |
<% end %>
<%= link_to 'Back', images_path %>
