<p id="notice"><%= notice %></p>

<p>
    <%= image_tag root_url + "/images/" + @image.filename, size: "300x300", alt: @image.filename %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @image.filename %>
</p>

<p>
  <strong>Status:</strong>
  <% if @image.status == true %>
    <%= 'Private' %>
  <% else %>
    <%= 'Public' %>
  <% end %>
</p>

<p>
  <strong>User:</strong>
  <%= @image.user.name %>
</p>

<% if @image.user == current_user %>
    <%= link_to 'Edit', edit_image_path(@image) %> |
    <%= link_to 'Delete', @image, method: :delete, data: { confirm: 'Delete Image?' } %> |
<% end %>
<%= link_to 'Back', images_path %>
