<p id="notice"><%= notice %></p>

<p>
    <%= image_tag root_url + "/images/" + @image.filename, size: "300x300", alt: @image.filename %>
</p>

<p>
  <h2><u>User:</u></h2><br>
  <%= @image.user.name %>
</p>

<p>
  <h2><u>Tags:</u></h2><br>
  <% @image.tags.each do |tag| %>
    <%# if tag.new_record? %>
        <%= tag.str %>
        <%# link_to 'Edit', edit_tag_path(tag) %>
        <%# link_to 'Delete', tag, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%# end %>
  <% end %>
  <br><br>
  <h2><u>Create New Tag:</u></h2>
  <%= render 'tags/form' %>
</p>

<p>
  <h2><u>Status:</u></h2><br>
  <% if @image.status == true %>
    <%= 'Private' %>
  <% else %>
    <%= 'Public' %>
  <% end %>
</p>

<p>
    <h2><u>Users With Access:</u></h2><br>
    <% if @image.status == true %>
        <% @image.image_users.each do |list| %>
            <%= list.user_id %>
        <% end %>
    <% else %>
        <%= 'Everyone' %>
    <% end %>
    <% if @image.user == current_user %>
        <%= form_for @image, :image_users => { :action => "update" } do |form| %>
            <h2><u><%= 'Who can access this image?' %></u></h2><br>
            <%= form.collection_select :image_users, User.all.order(:name), :name, :name, :include_blank => '' %><br><br>
            <%= form.submit %>
        <% end %>
    <% end %>
</p>

<% if @image.user == current_user %>
  <%= form_for @image, :status => { :action => "update" } do |form| %>
      <h2><u><%= 'Should this be a private image?' %></u></h2><br>
      <%= form.check_box :status %><br>
      <%= form.submit %><br>
  <% end %>
<% end %>

<br>
<% if @image.user == current_user %>
    <%# link_to 'Edit', edit_image_path(@image) %> 
    <%= link_to 'Delete', @image, method: :delete, data: { confirm: 'Delete Image?' } %> |
<% end %>
<%= link_to 'Back', images_path %>
