<p id="notice"><%= notice %></p>

<h1>Welcome to the Shop!</h1>

<table>
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Item Description</th>
      <th>Price</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.item_name %></td>
        <td><%= shop.item_des %></td>
        <td><%= shop.price %></td>
        <td><%= shop.user %></td>
        <td><%= link_to 'Show', shop %></td>
        <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
        <td><%= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%# link_to 'Purchase', inventory_url, method: :post, data: { confirm: 'Purchase ' + shop.item_name + '?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shop', new_shop_path %>
